.career {
  text-align: center;
  padding: 0px 0px 5px 0px;
  background: #f6f8ff;

  .career-content {
    width: 50%;
    margin: 0px auto;
    padding: 25px 0px 25px 0px;

    p {
      color: #707070;
      font-size: 14px;
    }
  }

  .career-path {
    width: 70%;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    text-align: center;

    a {
      .career-path-box {
        padding: 7px;
        cursor: pointer;
        background: #fff;

        img {
          width: 125px;
          height: 79px;
        }

        h4 {
          color: #707070;
          font-size: 12px;
        }

        p.career-path-text {
          color: #707070;
          font-size: 12px;
        }
      }

    }
  }

  .see-all-btn {
    margin-bottom: 15px;
  }
}