.success-journey-top {
  background: #f6f8ff;
  text-align: center;

  .success-journey-content {
    width: 50%;
    margin: 0px auto;
    padding: 25px 0px 25px 0px;

    p {
      color: #707070;
      font-size: 14px;
    }
  }

  #successJourneyInfo {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0px auto;
    padding: 55px 0px 55px 0px;
    text-align: center;

    div {
      img {
        width: 70px;
      }
    }
  }
}

.success-journey-bottom {
  background: #fff;
  text-align: center;

  .success-journey-content {
    width: 50%;
    margin: 0px auto;
    padding: 25px 0px 25px 0px;

    p {
      color: #707070;
      font-size: 14px;
    }
  }

  #successJourneyInfo {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0px auto;
    padding: 55px 0px 55px 0px;
    text-align: center;

    div {
      img {
        width: 70px;
      }
    }
  }
}