.unlimitedCollaborationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10em auto;

  div {
    width: 50%;
  }

  .unlimitedCollaborationImage {
    img {
      width: 80%;
      border-radius: 9px;
    }
  }

  .unlimitedCollaborationContent {
    color: #707070;

    h2 {
      padding-bottom: 10px;
    }

    p {
      padding-bottom: 15px;
    }
  }
}